.todo-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    min-height: 100px;
}

.todo-list li {
    margin: 0;
}

.todo-list:empty::after {
    content: "No todos yet. Add one to get started!";
    display: block;
    text-align: center;
    padding: 40px 20px;
    color: #bbb;
    font-size: 16px;
    font-style: italic;
}

